:root {
  --pale-yellowy-green: #D7D9B1;
  --light-blue: #84ACCE;
  --purple: #827191;
  --dark-green: #827191;
  --emerald: #1A936F;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--pale-yellowy-green);
}

.Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 400px;
  height: 600px;
}